[Unit]
Description=Demo radio service container
Requires=routingmanagerd.socket

[Container]
Image=localhost/radio

Network=host
Volume=/run/vsomeip:/run/vsomeip
Volume=/proc:/hostfs/proc

[Service]
Restart=always

[Install]
WantedBy=multi-user.target

